{% extends 'inventario/base.html' %}
{% load static %}

{% block contenido %}

<div class="login-contenedor">

    <div class="login-tarjeta">

        <!-- Logo del instituto -->
        <img
            src="{% static 'inventario/img/logo_istam.jpg' %}"
            alt="Logo ISTAM"
            class="login-logo"
        >

        <h2>Iniciar sesión</h2>

        <p class="login-texto">
            Ingresa tus credenciales para acceder al sistema.
        </p>

        <form method="POST">
            {% csrf_token %}

            <div class="campo-login">
                <label>Usuario</label>
                <input
                    type="text"
                    name="usuario"
                    placeholder="Ingresa tu usuario"
                    required
                >
            </div>

            <div class="campo-login">
                <label>Contraseña</label>
                <input
                    type="password"
                    name="clave"
                    placeholder="Ingresa tu contraseña"
                    required
                >
            </div>

            {% if mensaje %}
                <p class="mensaje-error">
                    {{ mensaje }}
                </p>
            {% endif %}

            <button type="submit" class="boton-login">
                Ingresar
            </button>

            
            <!-- Enlace para recuperar la contraseña -->
            <div class="recuperar-clave">
                <a href="{% url 'recuperar_password' %}">
                    ¿Olvidaste tu contraseña?
                </a>
            </div>
        </form>

        <p class="login-institucional">
            Sistema de uso exclusivo institucional
        </p>
        
        <p class="firma-desarrollador">
             Desarrollado por Shamely Estefanía Castillo Guayllas © 2026
        </p>

    </div>

</div>

{% endblock %}