{% extends 'inventario/base.html' %}

{% block contenido %}

<div class="login-contenedor">

    <div class="login-tarjeta">

        <h2>Contraseña actualizada</h2>

        <p class="login-texto">
            Tu contraseña ha sido cambiada correctamente.
            Ya puedes iniciar sesión con tu nueva contraseña.
        </p>

        <div class="recuperar-clave">
            <a href="{% url 'login' %}">
                Iniciar sesión
            </a>
        </div>

    </div>

</div>

{% endblock %}