{% extends 'inventario/base.html' %}

{% block contenido %}

<div class="login-contenedor">

    <div class="login-tarjeta">

        <h2>Correo enviado</h2>

        <p class="login-texto">
            Si el correo ingresado está registrado en el sistema,
            recibirás un enlace para restablecer tu contraseña.
        </p>

        <div class="recuperar-clave">
            <a href="{% url 'login' %}">
                Volver a iniciar sesión
            </a>
        </div>

    </div>

</div>

{% endblock %}