{% extends 'inventario/base.html' %}

{% block contenido %}

<div class="login-contenedor">

    <div class="login-tarjeta">

        <h2>Recuperar contraseña</h2>

        <p class="login-texto">
            Ingresa el correo electrónico asociado a tu cuenta.
        </p>

        <form method="POST">
            {% csrf_token %}

            <div class="campo-login">
                <label>Correo electrónico</label>
                {{ form.email }}
            </div>

            <button type="submit" class="boton-login">
                Enviar enlace de recuperación
            </button>

        </form>

        <div class="recuperar-clave">
            <a href="{% url 'login' %}">
                Volver a iniciar sesión
            </a>
        </div>

    </div>

</div>

{% endblock %}